# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage

# production
/build

# codegen introspection files
/src/graphql/generated
/.vscode
; introspection.json
; introspection-result.json
; generated.ts

# env files
.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*
